In [38]:
import pandas as pd

datos = pd.read_excel("Datos1AleatoriosCOLS.xlsx")

In [47]:
datos

,Marca temporal,membresia,Sueldo,colonia,membresiasStreaming,membresiasClubes,clase,sexo,edad,plataforma,gastos,PersonasPorCasa,Longitud,Latitud
0,NaN,No,50000.0,12.0,1.0,1.0,3,0.0,15-20,1.0,500.0,5.0,-101.707109,21.151996
1,NaN,Si,36000.0,12.0,2.0,1.0,2,0.0,15-20,1.0,200.0,4.0,-101.707109,21.151996
2,NaN,Si,30000.0,13.0,2.0,0.0,2,1.0,21-26,2.0,300.0,4.0,-101.673025,21.153231
3,NaN,Si,60000.0,14.0,3.0,2.0,2,1.0,21-26,3.0,500.0,2.0,-101.656946,21.168311
4,NaN,Si,25000.0,15.0,3.0,0.0,2,1.0,21-26,4.0,470.0,3.0,-101.639892,21.109539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,NaN,Si,73379.0,8.0,2.0,3.0,3,2.0,58,4.0,2516.0,2.0,-101.714801,21.181419
136,NaN,Si,66093.0,9.0,6.0,2.0,3,1.0,55,6.0,2678.0,4.0,-101.608592,21.127585
137,NaN,Si,104690.0,11.0,7.0,1.0,3,1.0,28,7.0,2674.0,4.0,-101.727760,21.154248
138,NaN,Si,63147.0,9.0,4.0,3.0,3,1.0,49,4.0,2026.0,1.0,-101.608592,21.127585
139,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
coordenadas=[[21.164654, -101.658861],[21.066470, -101.619603],[21.075004, -101.626991],[21.168716, -101.740981],[21.153475, -101.738956],[21.142988, -101.694862],[21.116873, -101.700442],[21.181419, -101.714801],[21.127585, -101.608592],[21.066666, -101.596837],[21.154248, -101.727760],[21.151996, -101.707109],[21.153231, -101.673025],[21.168311, -101.656946],[21.109539, -101.639892],[21.178933, -101.666901],[21.159113, -101.646956],[21.065668, -101.571028],[21.169525, -101.652046],[21.100732, -101.645942],[21.156528, -101.669922],[21.099630, -101.641133]]
for i in range(datos.size):
    datos['Latitud'][i]= coordenadas[int(datos['colonia'][i])-1][0]
    datos['Longitud'][i]=coordenadas[int(datos['colonia'][i])-1][1]
datos

C:\Users\mau20\AppData\Local\Temp\ipykernel_10020\3786594459.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['Latitud'][i]= coordenadas[int(datos['colonia'][i])-1][0]
C:\Users\mau20\AppData\Local\Temp\ipykernel_10020\3786594459.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['Longitud'][i]=coordenadas[int(datos['colonia'][i])-1][1]

ValueError: cannot convert float NaN to integer

In [48]:
colonias=["Arboledas del Valle","Las Torres", "RÃ­o Mayo", "La Querencia", "Colinas de la Fragua", "Insurgentes", "Las Palmas", "Gran JardÃ­n", "Punta del Este", "El Mayorazgo Residencial", "CaÃ±ada del Refugio", "Lomas del campestre", "San jeronimo 2", "Bosques boreales", "Anturios", "Echebeste", "Mision de San Jose", "Jardines de Versalle", "Brisas del lago", "San isidro","Capulin del valle","Jardines del jerez"]
for i in range(22):
    datos['colonia']= datos['colonia'].replace(i,colonias[i-1])
datos

,Marca temporal,membresia,Sueldo,colonia,membresiasStreaming,membresiasClubes,clase,sexo,edad,plataforma,gastos,PersonasPorCasa,Longitud,Latitud
0,NaN,No,50000.0,Lomas del campestre,1.0,1.0,3,0.0,15-20,1.0,500.0,5.0,-101.707109,21.151996
1,NaN,Si,36000.0,Lomas del campestre,2.0,1.0,2,0.0,15-20,1.0,200.0,4.0,-101.707109,21.151996
2,NaN,Si,30000.0,San jeronimo 2,2.0,0.0,2,1.0,21-26,2.0,300.0,4.0,-101.673025,21.153231
3,NaN,Si,60000.0,Bosques boreales,3.0,2.0,2,1.0,21-26,3.0,500.0,2.0,-101.656946,21.168311
4,NaN,Si,25000.0,Anturios,3.0,0.0,2,1.0,21-26,4.0,470.0,3.0,-101.639892,21.109539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,NaN,Si,73379.0,Gran JardÃ­n,2.0,3.0,3,2.0,58,4.0,2516.0,2.0,-101.714801,21.181419
136,NaN,Si,66093.0,Punta del Este,6.0,2.0,3,1.0,55,6.0,2678.0,4.0,-101.608592,21.127585
137,NaN,Si,104690.0,CaÃ±ada del Refugio,7.0,1.0,3,1.0,28,7.0,2674.0,4.0,-101.727760,21.154248
138,NaN,Si,63147.0,Punta del Este,4.0,3.0,3,1.0,49,4.0,2026.0,1.0,-101.608592,21.127585
139,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
writer = pd.ExcelWriter("datosFinal.xlsx") 
datos.to_excel("datitos.xlsx")